/* background color */
$background-color: #000000;

/* text colors */
$dark-text: #000000;
$light-text: #fcfcfc;

/* accent colors */
$primary-color: #a9a9a9;
$secondary-color: #2a2a2a;

/* forms */
$form-border: #d5d5d5;
