/* background color */
$background-color: #d6d6d6;

/* text colors */
$dark-text: #2c2b30;
$light-text: #4f4f51;

/* accent colors */
$primary-color: #f58f7c;
$secondary-color: #f2c4ce;

/* forms */
$form-border: #d5d5d5;
