#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  background-color: $primary-color;
  color: $secondary-color;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
}
